<!--
  Generated template for the JoinCourtModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton color="nav">
    <ion-buttons start clear-right>
        <button ion-button (click)="leaveCourt()" *ngIf="status!='Ready'">
         <span ion-text>Leave Court </span>
        </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="showDirection(court)">
        Directions
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- <ion-list radio-group [(ngModel)]="fontFamily" (ionChange)="changeFontFamily()" class="popover-page">
</ion-list> -->

<!-- 
  Set if 3v3 or 5v5 before starting game
  if in game, can only switch from 3v3 to 5v5
  fix number of players on court
  set status to '' or offline
  only show courts that are '' or waiting
  player requesting
  ion segment for players and request
  view player modal
  footer for chat and players in court
 -->
  
<ion-content id='join-court' >
    <div id="grey_layer">
      <div>
        <div>
          <h1> {{court.name}}</h1>
          <h1>Start Time: {{startTime}}</h1>
          <h1>Admin: </h1>
          <ion-list>
            <ion-item class='itemList' *ngFor="let administrator of admin | async">
                <ion-avatar item-start>
                    <img src="assets/imgs/prof_pic/default_profpic2.png">
                  </ion-avatar>
              {{ administrator.user.username }}
            </ion-item>
          </ion-list>
          <h1>Players in this court ({{playersCount}}/{{playersAllowed}}): </h1>
          <ion-list>
            <ion-item class='itemList' *ngFor="let player of players | async" (click)='openProfile(player)'>
                <ion-avatar item-start>
                    <img src="assets/imgs/prof_pic/default_profpic2.png">
                  </ion-avatar>
              {{ player.user.username}} 
              <span ion-text>{{player.status}}</span>
            </ion-item>
          </ion-list>
          <h3>Chatbox</h3>
          <div id="chatbox">
            <ion-list>
              <ion-item *ngFor="let item of messages | async" text-wrap>
                  <strong>{{item.sender_username}}</strong>:
                  {{ item.message }}
              </ion-item>
            </ion-list>
          </div>
          <ion-item id='message_input'>
            <ion-input type="text" maxlength="100" placeholder="Enter your message" [(ngModel)]="message"></ion-input>
            <button ion-button (click)="sendMessage()" clear item-right color='ball'> Send </button>
          </ion-item>
          <ion-buttons id='buttons'>
            <button ion-button color="secondary" *ngIf="status==''" (click)='readyPlayer()'>Ready</button>
            <button ion-button color="danger" *ngIf="status=='Ready'" (click)='unreadyPlayer()'>Cancel</button>
          </ion-buttons>
        </div>
      </div>
    </div>
  </ion-content>
