<!--
  Generated template for the LandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content id='landingPage'>
  <!-- <video muted loop autoplay src="assets/video/BallTimeIntro.mp4" type='video/mp4;'>
  </video> -->
  <div id="logo">   
    <h1 id="ball_text"> BALL TIME </h1>
    <img id="ball_logo" alt="Logo" class="logo" src="assets/imgs/logobasketball.png"/>
  </div>
  <div *ngIf="!showLogin && !showRegister">
    <div id="logo_slides">
      <ion-slides id="ion-slides" autoplay="3000" loop="true" pager="false">
          <ion-slide>
            <h2>Discover basketball courts nearby</h2>
          </ion-slide>
          <ion-slide>
            <h2>Play against other players</h2>
          </ion-slide>
          <ion-slide>
            <h2> Make new friends and develop your basketball skills </h2>
          </ion-slide>
        </ion-slides>
    </div>
    <div id="land_buttons" >
      <button  block color="ball" ion-button round (click)="login_clicked()">Login</button>
      <button  block color="light" ion-button round outline (click)="register_clicked()">Register</button>
    </div>
  </div>
  <div *ngIf="showLogin">  
      <ion-icon name="arrow-round-back" (click)="login_clicked()" style="position:relative; color:white; font-size:40px"></ion-icon>
      <login></login>
  </div>
  <div *ngIf="showRegister">
    <ion-icon name="arrow-round-back" (click)="register_clicked()" style="position:relative; color:white; font-size:40px"></ion-icon>
    <register></register>
  </div>
 
</ion-content>
