page-register {
    ion-content {
        // background-image: url('../assets/imgs/RegisterBackground_safe.jpg');
        background-size: cover;
        background-position: center;
        background-color: grey;
    }
    .scroll-content {
        overflow-y: hidden;
    }

    #arrow_proceed{
        position: relative;
        left:100px;
    }

    ion-item{
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        // border-bottom: 0px !important;
        border-bottom-color: transparent
    }

    .item.item-input{
        background-color: rgba(10, 10, 10, 0.555);
        margin-bottom: 20px;
    }

    #prof_pic{
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border-color:  #fa8320;
        border-style: solid;
        border-width: 5px;
    }
    
    .text-input{
    color: white;
    }

    #register_steps{
        margin-top: 70px;
    }




}
