<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content id="profile_info">
    <loading *ngIf="showLoading"></loading>
    <div id="grey_layer">
      <header id="header_bar">
        <ion-icon name="menu" id="menu_button" float-start menuToggle></ion-icon>
        <button ion-button float-right id="edit" (click)='showEdit()' > 
            <img src="assets/imgs/profile_edit_white.png" id="edit_profile">
        </button>
        <h1 id="title">{{(userInfo|async)?.role}}</h1>
      </header>
      <div id="profile_header">
        <img id="prof_pic" src="assets/imgs/RegisterBackground2.jpg" />
        <h1 text-center> {{(userInfo|async)?.firstname}} {{(userInfo|async)?.lastname}} </h1>
        <h3 text-center>@{{(userInfo|async)?.username}}</h3>
      </div>
      <hr id="separator">
      <div id="feats" *ngIf="role=='Baller'">
        <h2 text-left>Games Played: {{(userInfo|async)?.games_played}}<span float-right>Rep Level: {{(userInfo|async)?.reputation_level}} </span></h2>
      </div>
      <div id="feats" *ngIf="role!='Baller'">
        <h2 text-left>Courts Managed: </h2>
        <ion-list>
            <ion-item class='items' *ngFor='let court of courts'>
              {{court.name}}
            </ion-item>
        </ion-list>
      </div>
      <hr id="separator">
      <div id="stats" padding *ngIf="role=='Baller'">
        <h1 text-left>Height: <span float-right> {{(userInfo|async)?.height}} ft </span> </h1>
        <h1 text-left>Weight: <span float-right>{{(userInfo|async)?.weight}} kg </span></h1>
        <h1 text-left>Age:  <span float-right>{{(userInfo|async)?.age}} </span></h1>       
      </div>
   
    </div> 
  </ion-content>
    <!-- 
   
      <img src="../assets/imgs/profile_edit.png" id="edit_profile">
    </button>
    <header id="profile_header">
      <img src="../assets/imgs/RegisterBackground4.jpg" id="cover_pic" alt="cover_photo">
      
      
      
    </header>
    <div id="feats">
      <h1>Games Played:       Rank:</h1>

    </div>
    -->

