<ion-menu [content]="content" type="push" [swipeEnabled]="false" persistent="true">
    <ion-content>
        <div id='navbar_background'></div>
        <div id="navbar_overlay"></div>   
        <div id="navbar">
            <div id ="navbar_header">
                <div id="profpic_div">
                    <img id="prof_pic" src="assets/imgs/prof_pic/default_profpic2.png" />
                </div>

                <h2 text-center *ngIf="showInfo"> {{user.username}} </h2>
                <p text-center *ngIf="showInfo"> {{user.role}} </p>
            </div>
            <ion-list>
                <ion-buttons>
                    <button class="navbar_buttons" (click)="openPage(p)" menuClose ion-item *ngFor="let p of pages">
                        {{p.title}} <ion-badge *ngIf="p.title =='Friends'">{{(notifs|async)?.length}}</ion-badge>
                    </button>
                    <button class="navbar_buttons" ion-item (click)="confirmLogout()" >
                        <ion-icon name="md-log-out"></ion-icon> Log Out 
                    </button>
                </ion-buttons>
            </ion-list>
            </div>  
        </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
