<!--
  Generated template for the DiscoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="nav">
    <ion-title>Discover Courts</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content id='discover'>
  <div id="grey_layer">
    <h1>Maximum Distance: {{preferredDistance}} km</h1>
      <ion-range min="1" max="20" [(ngModel)]="preferredDistance">
        <ion-label range-left>1</ion-label>
        <ion-label range-right>20</ion-label>
      </ion-range>
<!-- 
    <ion-list radio-group [(ngModel)]="selectedMode" required>
        <ion-item>
          <ion-label>Walk</ion-label>
          <ion-radio value="WALKING"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Drive</ion-label>
          <ion-radio value="DRIVING"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Bike</ion-label>
          <ion-radio value="BICYCLING"></ion-radio>
        </ion-item>           
    </ion-list> -->

    <div class='options'>
      <button id='1' class='option' (click)='chooseMethod(1)'><ion-icon name='walk'></ion-icon></button>
      <button id='2' class='option' (click)='chooseMethod(2)'>Bike</button>
      <button id='3'  class='option' (click)='chooseMethod(3)'>Drive</button>
    </div>

    <div class='center'>
      <button id="findButton" color='ball' ion-button round (click)="retrieveClosestCourts(preferredDistance)"> Find </button>
    </div>  
    <h1 text-center> Results </h1>
    <ion-spinner *ngIf="showSpinner"></ion-spinner>
    <ion-list>
      <ion-item *ngFor="let court of nearestCourts" (click)="openModal(court)">
        <h1>{{ court.name }}</h1>
        <h3>Distance: <span id={{court.name}}distance></span></h3>
        <h3>Travel Time: <span id={{court.name}}time></span></h3>
      </ion-item>
    </ion-list>
    </div>
</ion-content>
