<!--
  Generated template for the DiscoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="nav">
    <ion-title>Discover Courts</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content id='discover'>
  <div id="grey_layer">
  <ion-segment id='modes' [(ngModel)]="selectedMode" color="ball">
      <ion-segment-button value='WALKING' selected>
        <ion-icon name="walk"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value='BICYCLING'>
          <ion-icon name="bicycle"></ion-icon>
        </ion-segment-button>
      <ion-segment-button value='DRIVING'>
        <ion-icon name="car"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <h1>Maximum Distance: {{preferredDistance}} KM</h1>
    <ion-range min="1" max="20" [(ngModel)]="preferredDistance">
      <ion-label range-left>1 KM</ion-label>
      <ion-label range-right>20 KM</ion-label>
    </ion-range>
    <div class='center'>
      <button id="findButton" color='ball' ion-button round (click)="retrieveClosestCourts(preferredDistance)"> Find </button>
    </div>  
    <h1 text-center> Results </h1>
    <ion-spinner *ngIf="showSpinner"></ion-spinner>
    <ion-list>
      <ion-item class='item' *ngFor="let court of nearestCourts" (click)="openModal(court)">
        <h2 text-wrap>{{ court.name }}</h2>
        <h3>Distance: <span id={{court.name}}distance></span></h3>
        <h3>Travel Time: <span id={{court.name}}time></span></h3>
        <h3>Players: {{court.players_count}}</h3>
        <h3>Status: {{court.status}}</h3>
      </ion-item>
    </ion-list>
    </div>
</ion-content>
