page-discover {
    ion-spinner{
        margin-top: 20%;
        margin-left: 50%;
        margin-right: 50%;
    }

    #findButton{
        margin-left: auto;
        margin-right: auto;
    }

    .scroll-content {
        overflow-y: scroll;    //To remove sidebars in all pages in apps
    }

}
