register {
    .content{
        background-color: rgb(51, 51, 51);
    }
    .scroll-content {
        overflow-y: hidden;
    }

    #RegisterForm{
        margin-top: 20%;
        //margin-bottom: auto;
    }

    ion-item{
        border-radius: 30px !important;
        padding-left: 30px !important;
        font-size: 0.9em;
        // border-bottom: 0px !important;
        border-bottom-color: transparent
        
    }

    .item.item-input{
        background-color: rgba(10, 10, 10, 0.555);
        margin-bottom: 20px;
    }

}
