page-court-modal {
    #modal{
        background-image: url('../assets/imgs/Modal_Background2_safe.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        
    }

    #modal_content{
        margin-top: 2%;
    }

    #courtpic_div{
        margin-top: 10%;
    }

    #court_pic{
        width: 200px;
        height: 200px;
        border-color:  #fa8320;
        border-style: solid;
        border-width: 5px;
        border-radius: 50%;
    }

    #grey_layer{
        background-color: rgba(29, 29, 29, 0.685);
        position: absolute;
        background-size: cover;
    }

    
}
