<!--
  Generated template for the GamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='nav'>
    <ion-title>GamePage</ion-title>
      <ion-buttons *ngIf="status=='Coming'" end>
        <button ion-button *ngIf="role=='Baller'" (click)="showDirection()">
          Directions
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content id="game" padding>
  <div *ngIf="status=='In Game'||status=='Confirmed'">
    <h1 text-center *ngIf="status=='In Game'"> GAME IN PROGRESS </h1>
    <h1 text-center *ngIf="status=='Confirmed'"> WAITING FOR OTHER PLAYERS </h1>
    <!-- <court-timer></court-timer> -->
    <div text-center id="ball-animation"><img id="ball" src="../../assets/imgs/logobasketball.png"></div>

    <button ion-button block color="danger" *ngIf="role=='Administrator'" id='button-end' (click)='endGame()'> End Game</button>
    <button ion-button block color="danger" *ngIf="role=='Baller' && status=='In Game'" id='button-end'> Quit Game</button>
    <button ion-button block color="danger" *ngIf="role=='Baller' && status=='Confirmed'" id='button-end'> Cancel </button>
  </div>
  <div *ngIf="status!='In Game'">
      <h1 text-center *ngIf="status=='Coming'"> GO TO COURT </h1>
      <h1 text-center *ngIf="status=='Waiting'"> WAITING FOR CONFIRMATION </h1>
      
      <div id="ball-animation" text-center>
          <img id="court_pic" src="../assets/imgs/RegisterBackground4.jpg" />
      </div>
      <!-- <button ion-button block color="danger" *ngIf="role=='Administrator'" id='button-end'></button> -->
      <button ion-button block color="primary" *ngIf="role=='Baller' && status!='Waiting'" id='button-end' (click)='arrivedCourt()'> Arrived </button> 
      <button ion-button block color="danger" *ngIf="role=='Baller'" id='button-end'> Cancel </button>
  </div>
</ion-content>
