page-error {
    #error-page{
        background-color: rgb(211,211,211);
    }

    #error-message{
        display: block;
        margin-top: 20%;
        margin-bottom: auto;
    }

    #error-img{
        width: 200px;
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #reconnect{
        margin-top: 20%;
    }

    .ring-2 {
        position: relative;
        width: 45px;
        height: 45px;
        margin: 0 auto;
        border: 4px solid  #fa8320;
        border-radius: 100%;
    }

    .ball-holder {
        position: absolute;
        width: 12px;
        height: 45px;
        left: 17px;
        top: 0px;
    }
    
    .ball {
        position: absolute;
        top: -11px;
        left: 0;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        background: #fa8320;
    }

    .load-5 .ball-holder {animation: loadingE 1.3s linear infinite;}

    .load-5{
        margin-top: 20%;
    }

    @keyframes loadingE {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

}
